* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: darkslategray;
}
header {
  padding: 1.2rem;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: cornflowerblue;
}
.date-picker {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.show-stats {
  display: inline-block;
  padding: 0.7rem;
  margin-bottom: 20px;
  user-select: none;
  background-color: cornflowerblue;
}
.show-stats:hover {
  cursor: pointer;
  opacity: 0.8;
}
.show-stats:active {
  outline: 1px solid red;
}
table, th, td {
  border: 1px solid;
  padding: 0.5rem;
}
th:first-child {
  
}
table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
